@page "/bookView"
@using Microsoft.AspNetCore.Components.Forms

@inject HttpClient Http
@inject NavigationManager NavigationManager
<div>
    <h3>Book</h3>

    @if (books != null && books.Count() != 0)
    {
        <table class="table">
            <tbody>
                <tr>
                    <th>Book Name</th>
                    <th>Book Id</th>
                    <th>Book Publisher</th>
                </tr>
                @foreach (var book in books)
                {
                    var bookId = book.BookId;
                    <tr>
                        <td><NavLink class="button" href=@($"/bookView/{book.BookId}")>@book.BookName</NavLink></td>
                        <td>@book.BookId </td>
                        <td><NavLink class="button" href=@($"/publisherView/{book.BookPublisherId}")>@book.BookPublisher.PublisherName</NavLink></td>
                        <td><button class="button" @onclick="(() => Delete(book.BookId))">Delete book</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }

<EditForm Model="_book" OnValidSubmit="@AddBook">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Publisher</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><InputText placeholder="Book Name" @bind-Value="_book.BookName" /></td>
                <td>
                    <InputSelect @bind-Value="_book.BookPublisherId" DisplayName="Publisher name">
                        <option>Select publisher</option>
                        @foreach (var publisher in publishers)
                        {
                            <option value="@publisher.PublisherId">@publisher.PublisherName</option>
                        }
                    </InputSelect>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
</EditForm>
    
</div>
    @code {
        private List<Test.Shared.Publisher> publishers = new List<Test.Shared.Publisher>();
        private List<Test.Shared.Book> books = new List<Test.Shared.Book>();
        private Test.Shared.Book _book = new Test.Shared.Book();

        private async Task AddBook()
        {
            await Http.PostAsJsonAsync<Test.Shared.Book>("api/books", _book);
            books = await Http.GetFromJsonAsync<List<Test.Shared.Book>>("api/books");
            _book = new Test.Shared.Book();
        }

        private async Task Delete(Guid? id)
        {
            await Http.DeleteAsync($"api/books/{id}");
            books = await Http.GetFromJsonAsync<List<Test.Shared.Book>>("api/books");
        }

        protected override async Task OnInitializedAsync()
        {
            books = await Http.GetFromJsonAsync<List<Test.Shared.Book>>("api/books");
            publishers = await Http.GetFromJsonAsync<List<Test.Shared.Publisher>>("api/publishers");
        }
    }
